Options -Indexes
#php_value memory_limit 64M
#php_value upload_max_filesize 20M
#php_value post_max_size 21M
AddDefaultCharset UTF-8

#php_flag display_errors on

RewriteEngine On


#RewriteCond %{HTTPS} !=on
#RewriteCond %{HTTP_HOST} !=localhost
#RewriteCond %{HTTP_HOST} !=127.0.0.1
#RewriteCond %{HTTP_HOST} !=cms2.gw.lt
#RewriteCond %{REMOTE_ADDR} !=127.0.0.1
#RewriteCond %{REMOTE_ADDR} !=::1
#RewriteCond %{QUERY_STRING} !(^|&)sys_call=1
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]



RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.bmp|\.css|\.js)$
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]


#leisti prie generuojamo pav pridet .jpg
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI}  (/tools/img/)
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<Files README.md>
Deny from all
</Files>
