/*
---------------------------CKEDIT inline------------------------------------------------------------------------------
*/
.ckedit {
	border: 1px dashed transparent;
	padding: 4px;
	transition: border-color 0.2s;
}
.ckedit:hover {
	border-color: orange;
}
.ckedit:focus-within {
	border-color: green;
}

/* Temporary message style */
.save-message {
	position: absolute;
	top: 5px;
	right: 5px;
	background: #4caf50;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	z-index: 999;
	animation: fadeOut 2s ease 1s forwards;
	font-size: 12px;

}

.edit-inline-btn-contain {
	position: absolute;
	top: 2px;
	right: 2px;
	
	
	font-size: 11px;
	
	
	transition: border 0.2s;
	z-index: 10;
	line-height: 10px;
}
.edit-inline-btn0{
	color: orange;
	background:transparent;
	cursor: pointer;
	padding: 1px 1px;
	border: 1px solid orange;
	border-radius: 0px;
}

.edit-inline-btn:hover {

}
.ckedit-container {
	position: relative; /* for button positioning */
}

@keyframes fadeOut {
	to {
		opacity: 0;
		transform: translateX(-50%) translateY(10px);
	}
}
/*
---------------------------CKEDIT inline------------------------------------------------------------------------------
*/