* {
margin:0;
padding:0;
}
html {
height:100%;
width:100%;
}
body {
background: #1d1d1d;
font-family:Verdana,Tahoma,Arial;
height:auto;
width:auto;
}

p.text {
color:#D5D5D5;
font-size:10px;
margin-left:850px;
margin-top:50px;
position:absolute;
}

#footer {
	background: transparent url(../images/footer_bg.png) repeat-x;
	width:auto;
	height:92px;
	margin-top:-205px;

	
	
}
#header{
   
	background:transparent url(../images/top_bg.png);
	background-repeat:repeat-x;
	height:192px;
	width:100%;
	
	margin-top:-175px;
	position:absolute;
}

#page_container{
	
	width: 1206px;
	height: 638px;
	margin:auto;
    margin-top: 0px;
}
#top_container{
	background: transparent url(../images/top_logo.png)  no-repeat;
	width: 1206px;
	height:192px;
	margin-top: -175px;
	position:absolute;
}
#center_container{
	background:url(../images/center.png) no-repeat;
	width:944px;
	height:444px;
	margin:auto;
	margin-top:175px;
}

a#logo_link{
display:block;
height:90px;
width:400px;
text-decoration:none;
margin-left:100px;
}
#sventes{
display:block;
height:110px;
width:90px;
text-decoration:none;
margin-left:150px;
margin-top:140px;
position:absolute;
}
#sventes:hover{
	background:url(../images/sventes.png) no-repeat bottom left;
	height: 155px;
	width: 340px;
	margin-left:-90px;
	margin-top:135px;
}
#renginiai{
display:block;
height:110px;
width:100px;
text-decoration:none;
margin-left:272px;
margin-top:140px;
position:absolute;
}
#renginiai:hover{
background: url(../images/renginiai.png) no-repeat bottom left; 
height:250px;
width:486px;
margin-left:-110px;
margin-top:139px;

}	
#blog{
display:block;
height:120px;
width:100px;
text-decoration:none;
margin-left:40px;
margin-top:100px;
position:absolute;
}
#blog:hover{
background: url(../images/blogas.png) no-repeat top left; 
height:130px;
width:250px;
margin-left:-100px;
margin-top:95px;

}
#musu_lietuva{
display:block;
height:80px;
width:70px;
text-decoration:none;
margin-left:380px;
margin-top:40px;
position:absolute;
}
#musu_lietuva:hover{
background:url(../images/musu_lietuva.png) no-repeat top left; 
height:85px;
width:570px;
margin-left:-100px;
margin-top:35px;

}
#draugai{
display:block;
height:30px;
width:80px;
text-decoration:none;
margin-left:550px;
margin-top:240px;
position:absolute;
}
#draugai:hover{
background: url(../images/draugai.png) no-repeat bottom right; 
height:56px;
width:510px;
margin-left:520px;
margin-top:238px;
}
#sportas{
display:block;
height:60px;
width:130px;
text-decoration:none;
margin-left:560px;
margin-top:118px;
position:absolute;
}
#sportas:hover{
background: url(../images/sportas.png) no-repeat top right; 
height:70px;
width:480px;
margin-left:560px;
margin-top:110px;
}
#apie_mane{
display:block;
height:80px;
width:250px;
text-decoration:none;
margin-left:510px;
margin-top:298px;
position:absolute;
}
#apie_mane:hover{
background: url(../images/apie_mane.png) no-repeat center right; 
height:96px;
width:540px;
margin-left:500px;
margin-top:290px;
}
#zmones{
display:block;
height:60px;
width:100px;
text-decoration:none;
margin-left:710px;
margin-top:48px;
position:absolute;
}
#zmones:hover{
background: url(../images/zmones.png) no-repeat center right; 
height:96px;
width:330px;
margin-left:710px;
margin-top:20px;
}
#sporto_zmones{
display:block;
height:80px;
width:80px;
text-decoration:none;
margin-left:730px;
margin-top:175px;
position:absolute;
}
#sporto_zmones:hover{
background: url(../images/sporto_zmon%C4%97s.png) no-repeat top right; 
height:90px;
width:320px;
margin-left:725px;
margin-top:170px;
}