	.thumbnails li {
		width: 90px;
		height: 90px;
		margin: 0 10px 10px 0;	
		border-style: double;
		border-width: 3px;
		
	}
	
	.thumbnails li.active {
		border-style: double;
		border-width: 3px;
		
	}
	
	#main_image img {
		border-style: solid;
		border-width: 3px;
		
	}
	
	#main_image .loader {
		height: 480px; 
		width: 640px;
		border-style: solid;
		border-width: 3px;
		
	}

	#main_image .loader img {		
		margin-top: 160px;
	}

	#middle_container {
		height: 500px;
	}

	#scroller_container {
		margin-top: 20px;
		margin-bottom: 10px;
		width: 812px;	
	}

	#image_scroller {
		margin: 0 10px 0 20px;
		width: 742px;
	}
	
	#thumbnails_container {
		width: 2332px;
	}
	
	#scroller_container,
	#image_scroller,
	#thumbnails_container {
		height: 106px;
	}
	
	#right_arrow,
	#left_arrow,
	#right_fast_arrow,
	#left_fast_arrow {
		height: 40px;
		width: 20px;
	}
	
	#right_fast_arrow,
	#left_fast_arrow {
		margin: 0 20px;
	}
	
	#bottom_container {
		margin-top: 20px;
	}
	
	#folders_container {
			
	}		
	
	.folders {
		width: 0px;		
	}
	
	.folders li {
		width: 106px;
		height: 106px;	
	}
	
	.folders li a {				
		border-style: double;
		border-width: 3px;
		
		margin-right: 10px;				
		height: 90px; 
		width: 90px;
	}
	a#logo_link{
display:block;
height:90px;
width:400px;
text-decoration:none;
margin-left:100px;
}
a{
  color:#D5D5D5;
  text-decoration:none;
  font-size:10px;
  padding:10px;
  letter-spacing:1px
}

ul
{
list-style-type:none;
margin-left:100px;
margin-top:28px;
margin-bottom:20px;
padding:0;
min-width:850px;
}
li
{
display:inline;
text-decoration:none;
text-transform:uppercase;
}