body {
	background-image:url(../images/bodybg.png);
	font-family: "Lucida Grande", Tahoma, Geneva, sans-serif;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: "Lucida Grande", Tahoma, Geneva, sans-serif;
	font-size: 1.5em;
	color:#000;
	margin: 0px;
	padding: 0px;
	font-weight: bolder;	
}

h2 {
	font-family: "Lucida Grande", Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color:#000;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

h3 {
	font-family: "Lucida Grande", Tahoma, Geneva, sans-serif;
	font-size: 0.8em;
	color:#000;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}


.warp {
	float: none;
	height: auto;
	width: 990px;
	clear: none;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.content {
	width: 940px;
	height:auto;
	padding:20px;
	margin: 0px;
}

.contentbg_top{
	background-image: url(../images/contentbg_top.png);
	background-repeat:no-repeat;
	margin: 0px;
	padding: 0px;
	height: 15px;
	width: 990px;
	position:relative;
	
}

.contentbg_mid {
	height: auto;
	width: 990px;
	background-image: url(../images/contentbg_mid.png);
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
	position:relative;
}

.contentbg_bot{
	background-image: url(../images/contentbg_bot.png);
	background-repeat:no-repeat;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 990px;
	position:relative;
	
}

.header {
	height: 111px;
	width: 989px;
	padding: 0px;
	float: none;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.logo {
	height: 111px;
	width: 150px;
	padding: 0px;
	float: left;
	margin: 0px;
}

.advertisementstar{	
position:absolute;
top:30px;
left:920px;

}

.advertisementtext{	
position:absolute;
color:#FFF;
top:40px;
left:40px;
font-size:1.7em;
font-weight:bold;

}

.advertisementfrontpage {
	height: 295px;
	width: 960px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
}


#buttonbig a, #buttonbig a:visited, #buttonbig a:hover{
	background-image:url(../images/buttonbig2.png);
	background-repeat:no-repeat;
	display:block;
	width:150px;
	height:25px;
	font-size:0.6em;
	padding-top:15px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	
}

#buttonbig a:active{
	background-image:url(../images/buttonbig.png);
	background-repeat:no-repeat;
	display:block;
	width:150px;
	height:25px;
	padding-top:15px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	
}

.buttonsmal a, .buttonsmal a:visited, .buttonsmal a:hover{
	background-image:url(../images/buttonsmal2.png);
	background-repeat:no-repeat;
	display:block;
	font-size:0.5em;
	width:100px;
	height:22px;
	padding-top:8px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	
}

.buttonsmal a:active{
	background-image:url(../images/buttonsmal.png);
	background-repeat:no-repeat;
	display:block;
	width:100px;
	height:20px;
	padding-top:10px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	
}

.toplinebg {
	height: 35px;
	width:100%;
	float: none;
	background-color:#d8d8d8;
	background-repeat:repeat-x;
	width: auto;
	padding: 0px;
	margin: 0px;
}

.topline {
	float: none;
	text-align:right;
	width: 980px;
	height:18px;
	padding-top: 16px;
	padding-right:5px;
	font-size: 0.7em;
	color:#000;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.topline a:link, .topline a:visited {
	font-size: 1em;
	color:#027eb6;
	text-decoration: none;
}

.topline a:hover {
	font-size: 1em;
	color:#000;
	text-decoration:none;

}


.categorimenu {
	float:none;
	font-size: 0.7em;
	height: 25px;
	width:970px;
	margin-top: 0px;
	margin-right:auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	padding: 0px;
}

.categorimenu a:link, .categorimenu a:visited{
	text-decoration: none;
	height: 18px;
	color: #333;
	background-image: url(../images/menulink.png);
	background-repeat:repeat-x;
	display: block;
	float: left;
	margin: 0px;
	padding-top: 7px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	outline: none;
}

.categorimenu a:hover {
	background-image: url(../images/menulinkhover.png);
	background-repeat: repeat-x;
	display: block;
	text-decoration: none;
	margin: 0px;
	padding-top:7px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	outline: none;
	
}

.categorimenu a:active {
	background-image: url(../images/menuunderbg2.png);
	background-repeat: repeat-x;
	display: block;
	color: #FFF;
	text-decoration: none;
	margin: 0px;
	padding-top: 7px;
	font-weight: bold;
	height: 18px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	vertical-align: bottom;
	outline: none;
}



.typesmenu {
	height: 22px;
	width:980px;
	font-size:0.7em;
	background-image: url(../images/menuunderbglang.png);
	background-repeat:no-repeat;
	color: #FFF;
	font-weight: normal;
	float: none;
	outline: none;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:8px;
	padding-left:10px;
}

.typesmenu a:link, .typesmenu a:visited {
	color: #FFF;
	text-decoration: none;
	margin: 0px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 9px;
	padding-left: 10px;
	outline: none;
	
}

.typesmenu a:hover {
	color: #FFF;
	background-image: url(../images/menuunderbghover.png);
	background-repeat:repeat-x;
	text-decoration: none;
	margin: 0px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 9px;
	padding-left: 10px;
	outline: none;
	
}

.typesmenu a:active {
	color: #069;
	text-decoration: none;
	background-image: url(../images/menuunderbgactive.png);
	background-repeat:repeat-x;
	text-decoration: none;
	margin: 0px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 9px;
	padding-left: 10px;
	outline: none;
	
}


.facebook a, .twitter a, .facebook a:visited, .twitter a:visited {
	color: #FFF;
	text-decoration: none;
	outline: none;
}


.twitter{
	width:400px;
	height:100px;
	float:left;
	color: #FFF;
	font-size: 0.7em;
	
}

.facebook{
	width:400px;
	height:100px;
	float:right;
	color: #FFF;
	font-size: 0.7em;
	
}
	
.copyright{
	width:100%;
	background-color:#015e88;
	height:20px;
	color:#FFF;
	float:none;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	font-size: 0.7em;
	
}

.footer h1 a{	
font-size:1.2em;
color:#FFF;

}

.footer {
	height: 150px;
	background-color:#017eb6;
	background-image:url(../images/footerbg2.png);
	background-repeat:repeat-x;
	width: 100%;
	padding-top:0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #FFF;
}

.footercontent {
	width: 960px;
	height:auto;
	padding-top: 30px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

ul  {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: auto;
}

li  {
	padding:0px;
	margin:0px;
	float:left;
	display:block;
	width: auto;
}


<!-- Alt nedenfor her er dropdownmenyen-->


#topnav {
	padding:8px 0px 12px;
	font-size:0.7em;
}
#topnav a.signin, #topnav a.mysite {
	background-image:url(../images/bodybg.png);
	padding:8px 6px 6px;
	margin-left:5px;
	text-decoration:none;
	color:#027eb6;
}
#topnav a.signin:hover, #topnav a.mysite:hover {
	background:#FFF;
}

a.signin, a.mysite {
	margin-left:3px;
}
a.signin span, a.mysite span {
	background-image:url("../images/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:0px 20px 0px 10px;
}
#topnav a.menu-open {
	background:#FFF!important;
	color:#000!important;
	outline:none;
}
#small_signup, #small_mysite {
	display:inline;
	float:none;
	line-height:15px;
	margin:25px 0 0;
	width:170px;
}

a.signin.menu-open span, a.mysite.menu-open span {
	background-image:url("../images/toggle_up_dark.png");
	color:#789;
}

#signin_menu, #mysite_menu {
	display:none;
	background-color:#FFF;
	float:right;
	width:auto;
	z-index:100;
	text-align:left;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:10px;
	padding-right:15px;
	top: 0px;
	right: 0px;
	margin-top:6px;
	margin-right: 0px;
	color:#789;
	font-size:11px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	
}

img {
	border:none;
	
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	border:1px solid #ACE;
	font-size:1em;
	margin:0 0 5px;
	padding:2px;
	width:150px;
}
#signin_menu p, #mysite_menu p {
	margin:0;
}


#signin_submit {
	background-image:url(../images/buttonsmal2.png);
	color:#fff;
	border:none;
	width:100px;
	height:30px;
	padding:4px 10px 5px;
	font-size:1em;
	margin:0 0px 0 0;
	font-weight:bold;
	cursor:pointer;
}

