.error_fld_label{color:red}

.status_bx1 {
	background-position: 5px center;
	background-repeat: no-repeat;
	padding:2px 10px 2px 30px;
	font-size: 14px;
	text-align:left;
	margin-bottom: 3px;
	background-color: #f5f5f5;
}

.sbrsucc {
	background-image:url(../img/icons/status_0.png);
}

.sbrwarn {
	background-image:url(../img/icons/status_1.png);
	color: #000;
}

.sbrerror {
	background-image:url(../img/icons/status_2.png);
	color: #f00;
}

.sbrinfo {
	background-image:url(../img/icons/status_3.png);
}
