.attachments_drop .progress-bar {
	height: 3px;
	background-color: #f39ac7;
	width: 0;
}

.attachments_drop .status { display: inline-block; }



.attachments_drop .attach_actions{ position:absolute;z-index: 9999; }
.attachments_drop .attach_block{ 
      float: left;
      overflow: hidden;
      margin: 2px;
      padding: 2px;
      word-break: break-all;

}

.attachments_drop .sortContainer { 
      list-style-type: none; margin: 0; padding: 0; 
      display: flex; 
      flex-wrap:               wrap;
      -webkit-flex-wrap:       wrap;/* Safari 8 */
      
 
  flex-direction: row;
  text-align: center;    
}
.attachments_drop .sortContainer li { 
      margin: 1px; border: 1px solid #ddd;background-color: white; }	

.attachments_drop .attach_action { 
      background-color: white; 
      padding: 2px; 
      border-radius: 5px; 
      display:inline-block;
      float:left;
      border: 1px solid silver;
      position:relative;
      top: -5px
}
.attachments_drop .sortContainer li:hover .attach_actions{
      display:inline-block !important;
}	

.attachments_drop .ui-sortable-placeholder{
	background-color: lightblue !important;
	visibility: visible !important;
}