.sidebar-list LI A {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#sub-nav {
	LEFT: -24px; MARGIN-BOTTOM: -10px; POSITION: relative; TOP: -24px
}
#list-toolbar {
	LEFT: -24px; MARGIN-BOTTOM: -10px; POSITION: relative; TOP: -24px
}
#file-toolbar {
	LEFT: -24px; MARGIN-BOTTOM: -10px; POSITION: relative; TOP: -24px
}
.post-date {
	WIDTH: 70px
}
